.dashboard {
  background-color: #f4f4f4;
}

.task-header {
  padding: 1em 2em;
  background-color: rgb(0, 118, 214);
  color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  width: auto;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.logout {
  cursor: pointer;
  transition: 0.5s ease;
}

.logout:hover {
  opacity: 0.6;
}

.task-wrapper {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.left-side {
  width: 100%;
  padding: 1em 2em;
  display: grid;
  grid-template-rows: 2fr 5fr;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 3em;
}

.user-img {
  flex-basis: 40%;
}

.img-box {
  width: 6.5em;
  height: 6.5em;
  background-color: rgb(145, 145, 145, 0.5);
  border-radius: 0.5em;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5em;
}

.user-name {
  flex-basis: 60%;
  font-size: 1.2em;
}

.sort-by {
  width: 100%;
  padding: 1em 2rem;
  margin: 1em auto;
  border-bottom: 1px solid rgb(145, 145, 145, 0.3);
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.5s ease;
}

.sort-by:hover {
  background-color: rgb(145, 145, 145, 0.3);
  border-radius: 0.5em;
}

/* .focus-sort:focus {
  background-color: rgb(145, 145, 145, 0.3);
  border-radius: 0.5em;
} */

.right-side {
  width: 100%;
  padding: 1em 2em;
  display: grid;
  grid-template-rows: 2fr 5fr;
}

.add-task {
  background-color: #fff;
  width: 95%;
  margin: 1em auto 3em;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  border-radius: 0.5em;
}

.add-task input {
  flex-basis: 90%;
  padding: 1.5em 1em 0.5em;
  margin: 0.5em 1em 0.5em 0;
  display: inline-block;
  border: none;
  border-bottom: 1.5px solid rgb(145, 145, 145, 0.5);
  font-size: 1.2em;
}

.add-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  transition: 0.6s ease;
  color: whitesmoke;
  background: rgb(145, 145, 145);
  margin: 1em 0;
  text-decoration: none;
  border: none;
}

.add-icon:hover {
  background: rgb(0, 118, 214);
}

.fab {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task-list {
  width: 95%;
  height: 28em;
  margin: 0em auto;
  padding: 1em;
  background-color: white;
  border-radius: 0.5em;
  overflow-y: scroll;
}

.task-card {
  padding: 1em 0.5em;
  width: 100%;
  border: 1.5px solid rgb(145, 145, 145, 0.5);
  border-radius: 0.5em;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  color: #ccc;
  margin-bottom: 0.5em;
}

.task-des {
  flex-basis: 70%;
  color: black;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.completed-icon {
  color: rgb(0, 118, 214)
}

.task-icon {
  flex-basis: 5%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.del:hover {
  color: rgb(224, 54, 54);
}

.task-icon:hover:not(:last-child) {
  opacity: 0.5;
}

.no-task {
  font-size: 1.2em;
  color: #ccc;
}

.important {
  color: rgb(255, 255, 65);
}